@page "/PlayerSeason"
@using NHLAnalyzer.Data.Entities
@using NHLAnalyzer.Management.Services.Interfaces
@inject IPlayerSeasonService playerSeasonService

<PageTitle>Player Season</PageTitle>

<h1>Single Season Stats</h1>

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>+ / -</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Player.PlayerName</td>
                    <td>@player.Goals</td>
                    <td>@player.Assists</td>
                    <td>@player.PlusMinus</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<NHLAnalyzer.Data.Entities.PlayerSeason> players;

    protected override async Task OnInitializedAsync()
    {
        players = await playerSeasonService.GetPlayerSeasonsByYearAsync(2022);
    }
}
